body {
  padding: 4%;
  background-color: #f5f6fa;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
}

nav {
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  grid-gap: 40px;
  gap: 40px;
}

.book-link {
  opacity: 1;
  color: #121212;
  text-decoration:none;
}

.category-link {
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
  text-decoration:none;

}

.App {
  font-family: "Montserrat", sans-serif;
}

.nav-list{
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  grid-gap: 40px;
  gap: 40px;
  list-style:none;
  text-decoration:none;
}
